<mat-drawer-container fxFlexFill>
  <mat-drawer #drawer mode="over">
    <div class="sidemenu" style="width: 200px">
      <div>Menu 1</div>
      <div>Menu 2</div>
      <div>Menu 3</div>
    </div>
  </mat-drawer>
  <mat-drawer-content fxLayout="column">
    <mat-toolbar color="primary" style="position: fixed">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div fxFlex [ngStyle.lt-sm]="{'padding-top.px': 56}" [ngStyle.gt-xs]="{'padding-top.px': 64}">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
